#
# BeagleCam Project Configuration.
#

# Used internally by the project make infrastructure; DO NOT REMOVE.
PRJ_HAVE_DOT_CONFIG = y

# Target architecture.
PRJ_ARCH = arm

# Number of jobs to run simultaneously (0 for auto).
PRJ_JLEVEL = 0

# Strip target binaries.
PRJ_STRIP = y

#
# Toolchain configuration.
#
# Path buildroot defconfig or full-config file to build or download toolchain.
PRJ_TOOLCHAIN_CUSTOM_CONFIG_FILE = $(TOOLCHAIN_PKGDIR)/armv7_defconfig

# Path to the installed toolchain (including the prefix).
PRJ_TOOLCHAIN_PATH = $(TOOLCHAIN_BUILDDIR)/host/bin/arm-linux-

#
# U-Boot configuration.
#
PRJ_UBOOT_VERSION = 2021.04
# Type of the u-boot image to build.
PRJ_UBOOT_IMAGE_NAME = u-boot.img
# A space-separated list of SPL/TPL binaries generated during U-Boot build.
PRJ_UBOOT_SPL_NAME = MLO

# Name of a defconfig make rule.
#PRJ_UBOOT_DEFCONFIG = am335x_evm_defconfig
# Path to a defconfig or full-config file.
PRJ_UBOOT_CUSTOM_CONFIG_FILE = $(UBOOT_PKGDIR)/optim_defconfig
# Path to config fragment files.
#PRJ_UBOOT_CONFIG_FRAGMENT_FILES =

# Path(s) to out-of-tree DTS files to be copied in the U-Boot tree.
#PRJ_UBOOT_CUSTOM_DTS_PATH =

#
# Linux kernel configuration.
#
#PRJ_LINUX_KERNEL_VERSION = 5.12.3
PRJ_LINUX_KERNEL_VERSION = 5.11.11
# Type of the kernel image to build.
PRJ_LINUX_IMAGE_NAME = zImage

# Name of a defconfig make rule.
#PRJ_LINUX_KERNEL_DEFCONFIG = board_defconfig
# Path to a defconfig or full-config file.
PRJ_LINUX_KERNEL_CUSTOM_CONFIG_FILE = $(LINUX_PKGDIR)/optim_defconfig
# Path to config fragment files.
#PRJ_LINUX_KERNEL_CONFIG_FRAGMENT_FILES =

# Space separated names of in-tree DTS files, without .dts suffix.
PRJ_LINUX_KERNEL_INTREE_DTS_NAME = am335x-boneblack-lcd43
# Path(s) to out-of-tree DTS files to be copied in the kernel tree.
#PRJ_LINUX_KERNEL_CUSTOM_DTS_PATH =
# Preserve DTB dir prefixes when copied to the output directory.
#PRJ_LINUX_KERNEL_DTB_KEEP_DIRNAME =

# Append various data to the kernel image.
#PRJ_LINUX_KERNEL_APPENDED_DTB = y
#PRJ_LINUX_KERNEL_APPENDED_UIMAGE = y
PRJ_LINUX_KERNEL_APPENDED_INITRAMFS = y

#
# Rootfs/initramfs configuration.
#
# Name of a defconfig make rule.
PRJ_ROOTFS_DEFCONFIG = initram

#
# Other components configurations.
#
PRJ_BUILDROOT_VERSION = 2021.02.1

#
# Set default build target and dependencies.
#
all: beaglecam
beaglecam: uboot

ifeq ($(PRJ_LINUX_KERNEL_APPENDED_INITRAMFS),y)
beaglecam: linux-rebuild-with-initramfs
else
beaglecam: linux rootfs
endif
