#
# BeagleCam project build configuration file.
#

#
# General settings.
#

# Project version (also used in the OS banner).
PRJ_VERSION = 0.1

# Target architecture.
PRJ_ARCH = arm

# Number of jobs to run simultaneously (0 for auto).
PRJ_JLEVEL = 0

# Set build flags.
ifeq ($(PRJ_PROFILE),prod)
PRJ_BUILD_FLAGS = -O2
endif

# Strip target binaries.
PRJ_STRIP = y

# Enable static and/or shared libraries; options: shared, static, both
PRJ_SHARED_STATIC_LIBS = static

# Direct dependencies.
PRJ_DEPENDENCIES = uboot linux rootfs

# Path to genimage config file to generate bootable SD card image.
PRJ_GENIMAGE_CONFIG_FILE = $(GENIMAGE_PKGDIR)/genimage.cfg


#
# Toolchain settings.
#

# Path buildroot defconfig or full-config file to build or download toolchain.
PRJ_TOOLCHAIN_CUSTOM_CONFIG_FILE = $(TOOLCHAIN_PKGDIR)/armv7_defconfig

# Path to the installed toolchain (including the prefix).
PRJ_TOOLCHAIN_PATH = $(TOOLCHAIN_BUILDDIR)/host/bin/arm-linux-


#
# U-Boot settings.
#

#PRJ_UBOOT_VERSION = 2021.04
PRJ_UBOOT_VERSION = 2021.01

# Type of the u-boot image to build.
PRJ_UBOOT_IMAGE_NAME = u-boot.img

# A space-separated list of SPL/TPL binaries generated during U-Boot build.
PRJ_UBOOT_SPL_NAME = MLO

# Name of a defconfig make rule.
PRJ_UBOOT_DEFCONFIG =

# Path to a defconfig or full-config file.
PRJ_UBOOT_CUSTOM_CONFIG_FILE = $(UBOOT_PKGDIR)/uboot-$(PRJ_PROFILE)_defconfig

# Path to config fragment files.
PRJ_UBOOT_CONFIG_FRAGMENT_FILES =

# Path(s) to out-of-tree DTS files to be copied in the U-Boot tree.
PRJ_UBOOT_CUSTOM_DTS_PATH =

# Path to uEnv file to be copied as uEnv.txt in the binaries folder.
PRJ_UBOOT_UENV_PATH = $(UBOOT_PKGDIR)/uEnv-$(PRJ_PROFILE).txt

# Path(s) to additional files to be copied in the binaries folder.
PRJ_UBOOT_FILES_EXTRA_PATH = $(UBOOT_PKGDIR)/uEnv-falcon.txt


#
# Linux kernel settings.
#

PRJ_LINUX_KERNEL_VERSION = 5.11.11

# Type of the main kernel image to build.
PRJ_LINUX_IMAGE_NAME = uImage

# Type(s) of additional kernel image(s) to build.
PRJ_LINUX_IMAGE_NAME_EXTRA = zImage

# Load address for 3.7+ multi-platform image (CONFIG_ARCH_MULTIPLATFORM=y).
PRJ_LINUX_KERNEL_UIMAGE_LOADADDR = 80008000

# Name of a defconfig make rule.
PRJ_LINUX_KERNEL_DEFCONFIG =

# Path to a defconfig or full-config file.
PRJ_LINUX_KERNEL_CUSTOM_CONFIG_FILE = $(LINUX_PKGDIR)/linux-$(PRJ_PROFILE)_defconfig

# Path to config fragment files.
PRJ_LINUX_KERNEL_CONFIG_FRAGMENT_FILES =

# Space separated names of in-tree DTS files, without .dts suffix.
PRJ_LINUX_KERNEL_INTREE_DTS_NAME =

# Path(s) to out-of-tree DTS files to be copied in the kernel tree.
PRJ_LINUX_KERNEL_CUSTOM_DTS_PATH = $(LINUX_PKGDIR)/am335x-boneblack-pru.dts

# Preserve DTB dir prefixes when copied to the output directory.
PRJ_LINUX_KERNEL_DTB_KEEP_DIRNAME =

# Path to an initramfs file to append to the kernel image.
ifeq ($(PRJ_PROFILE),prod)
PRJ_LINUX_KERNEL_APPENDED_INITRAMFS = $(BINARIES_DIR)/rootfs.cpio
endif

# Append additional data to the kernel image.
#PRJ_LINUX_KERNEL_APPENDED_DTB = y
#PRJ_LINUX_KERNEL_APPENDED_UIMAGE = y


#
# Misc settings.
#

# Buildroot version to be used for buildroot-component infrastructure.
PRJ_BUILDROOT_VERSION = 2021.02.1

# Genimage version to be used for creating disk images.
PRJ_GENIMAGE_VERSION = 13

# Configuration file parser library (genimage dependency).
PRJ_LIBCONFUSE_VERSION = 3.3

# Name of a defconfig make rule for building rootfs/initramfs image.
PRJ_ROOTFS_DEFCONFIG = rootfs-$(PRJ_PROFILE)

# Used internally by the project make infrastructure; DO NOT REMOVE.
PRJ_HAVE_DOT_CONFIG = y
