#
# BeagleCam Project Configuration.
#

# Used internally by the project make infrastructure; DO NOT REMOVE.
PRJ_HAVE_DOT_CONFIG = y

# Default build target.
PRJ_DEFAULT_BUILD_TARGET = beaglecam

# Number of jobs to run simultaneously (0 for auto).
PRJ_JLEVEL = 0

# Target architecture.
PRJ_ARCH = arm

# Path to the toolchain (including the prefix).
PRJ_TOOLCHAIN_PATH = $(OUTPUT_DIR)/toolchain/bin/arm-buildroot-linux-uclibcgnueabihf-

# Strip target binaries.
#PRJ_STRIP = y

#
# Linux kernel configuration.
#
#PRJ_LINUX_KERNEL_VERSION = 5.12.3
PRJ_LINUX_KERNEL_VERSION = 5.11.11
# Type of the kernel image to build.
PRJ_LINUX_IMAGE_NAME = zImage

# Standard defconfig file.
#PRJ_LINUX_KERNEL_DEFCONFIG =
# Custom (def)config file.
PRJ_LINUX_KERNEL_CUSTOM_CONFIG_FILE = $(LINUX_PKGDIR)/optim_defconfig
# Path to config fragment files.
#PRJ_LINUX_KERNEL_CONFIG_FRAGMENT_FILES =

# Space separated names of in-tree DTS files, without .dts suffix.
PRJ_LINUX_KERNEL_INTREE_DTS_NAME = camtodo
# Path(s) to out-of-tree DTS files to be copied in the kernel tree.
#PRJ_LINUX_KERNEL_CUSTOM_DTS_PATH =
# Preserve DTB dir prefixes when copied to the output directory.
#PRJ_LINUX_KERNEL_DTB_KEEP_DIRNAME =

# Append various data to the kernel image.
#PRJ_LINUX_KERNEL_APPENDED_DTB = y
#PRJ_LINUX_KERNEL_APPENDED_UIMAGE = y

#
# Other components configurations.
#
PRJ_BUILDROOT_VERSION = 2021.02.1
